---
layout: page
title: Libros
permalink: /books.html
---

<p>
Recomendaciones/pensamientos/reseñas de libros.
</p>

Mi lista de libros está <a
href="https://www.notion.so/agendadiego/books-e94b8925165249638aba8d53690e9c39"
target="_blank">
acá
</a>

<h2> Autores </h2>

<ul>
	{% for post in site.posts %}
    {% if post.category contains "book" and post.subcategory contains "review" %}
<li>

<h3><a href="{{ site.url }}{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
</li>
{% comment %} <p>{{ post.excerpt }}</p> {% endcomment %}
{% endif %}
{% endfor %}
</ul>
