---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1>¡Hola! :~)</h1>


  Soy Diego Alvarado, y acá comparto mis pensamientos. Entre otras cosas, vas a encontrar:
  <ul>
          &thinsp;
          <li>Reseñas de libros</li>
          <li>Reseñas de música</li>
          <li>Sugerencias/pensamientos sobre cosas de tecnología/programación</li>
          <li>Pensamientos en general</li>
          <li>Poemas</li>
  </ul>

  <p> También hago música, y si quieres la puedes escuchar <a href="https://diegoalvarado.bandcamp.com/"> acá </a> </p>
  <p> Intento hacer reseñas de la mayoría de álbumes que escucho, pero a veces solo los puntuo en  <em>Rate Your Music</em>.
    El link a mi cuenta está <a href='https://rateyourmusic.com/~diegoalvarado'>acá</a></p>


          &nbsp;
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Entradas Recientes" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit: 5 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a> -->
    <!-- </p> -->
  {%- endif -%}

</div>
