---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1>Welcome to my blog!</h1>

  My name is Diego Alvarado, and here i'll be sharing thoughts i have as i go through <strike> high school</strike> college. Above is the navigation bar, where you'll find:

  <ul>
          &thinsp;
          <li> Book reviews</li>
          <li> Album Reviews </li>
          <li> Music history articles </li>
          <li> Thoughts on programming </li>
          <li> Articles on varied themes </li>
          <li> Poems </li>
  </ul>

  <p> I also make music, you can listen to it by clicking <a href="https://diegoalvarado.bandcamp.com/"> here </a> </p>
  <p> I try to write as many reviews as i can, but sometimes i can't map the network of ideas in my mind into words, so i just give numerical ratings on <em>Rate Your Music</em>. You can see my ratings <a href='https://rateyourmusic.com/~diegoalvarado'>here</a></p>

  <p> If you find something interesting, feel free to contact me! You can find my email at the bottom of this page :~) </p>

          &nbsp;
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Recent Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit: 5 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p>
  {%- endif -%}

</div>
